body{
    background: rgb(255, 229, 180);
}

.heading{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 50px;
}

.container{
}

.input-container{
    margin: auto;
}

#input-main{
    width: 90%;
    padding: 10px 5%;
    border: 2px solid black;
    border-radius: 1.5em;
    font-size: 20px;
}

#input-main.active{
    border-radius: 1.5em 1.5em 0 0;
}

.result-container{
    margin: auto;
}

#result-main{
    width: 90%;
    padding: 10px 5%;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0 0 1.5em 1.5em;
    font-size: 20px;
    background-color: white;
    display: none;
    max-height: 400px;
    overflow-y: auto;
}

#result-main.active{
    display: block;
}

.search-result-card{
    border-bottom: 1px solid lightgrey;
    display: flex;
    cursor: pointer;
    padding: 5px 0px;
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    
}

.search-result-card:hover{
    background: lightgrey;
}

.search-result-img{
    width: 50px;
    height: 50px;
    border: 0px solid black;
    border-radius: 1.5rem;
    margin: 0px 10px;
}

.search-result-name{
    margin: 5px 10px;
    padding: 5px 0px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .input-container{
        width:90%;
        padding-top: 10px;
    }
    .result-container{
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .input-container{
        width:80%;        
        padding-top: 50px;
    }
    .result-container{
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .input-container{
        width:60%;
        padding-top: 100px;
    }
    .result-container{
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .input-container{
        width:40%;
        padding-top: 100px;
    }
    .result-container{
        width: 40%;
    }
}