body{
  color: black;
  font-family: cursive !important;
}

.m-0{
  margin: 0px !important;
}

.heading{
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  margin-top: 50px;
}

#task-container{
  margin: 30px auto;

}

.add-input{
  width: 100%;
  padding: 0px 10px 0px 0px!important;
}

.add-btn{
  padding: 0px 10px;
}

.text-danger:hover{
  color:#dc3545;
}

input:disabled{
  text-decoration: line-through;
}

.task-card{
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 0px solid black;
  font-size: medium;
  font-weight:bold;
  border-radius: 1rem !important;
  margin: 10px 0px;
}

.task-card:hover{
  background-color: rgb(240, 240, 240);
}

.task-input{
  width: 100%;
  border: 0px;
  padding: 10px 5px;
  font-size: larger;
  background-color: transparent;
}

.task-input:focus{
  border-bottom: 2px solid black;
  outline: none;
}

.task-input-container{
  width:100%
}

.btn{
  padding: 5px 10px;
  font-size: medium;
  font-weight:bold;
  background-color: transparent;
  border: 0px;
  border-radius: 0.5rem;
  margin: 0px 2px;
}

.btn:hover{
  transform: scale(1.1);   
  border: 1px solid black;
}


@media screen and (max-width: 600px) {
  #task-container{
      width:90%;
  }
}

@media screen and (min-width: 600px) {
  #task-container{
      width:80%;
  }
}

@media screen and (min-width: 800px) {
  #task-container{
      width:60%;
  }
}

@media screen and (min-width: 1024px) {
  #task-container{
      width:40%;
  }
}