.heading{
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  margin-top: 50px;
}

#task-container{
  margin: 30px auto;

}

.task-card{
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid black;
  border-radius: .2rem;
  font-size: medium;
  font-weight:bold;
}

.reorder{
  cursor: row-resize;
  padding: 10px 0px;
}

.task-card:hover, .task-card>.task-input:focus{
  background-color: rgba(211, 211, 211, 0.432);
}

.task-input{
  width: 100%;
  border: 0px;
  padding: 5px;
  font-size: larger;
  background-color: transparent;
}

.task-input:focus{
  border-bottom: 2px solid black;
  outline: none;
}

.task-input-container{
  width:80%
}

.btn{
  padding: 5px 10px;
  font-size: medium;
  font-weight:bold;
  background-color: transparent;
  border: 0px;
  border-radius: 0.5rem;
  margin: 0px 2px;
}

.btn:hover{
  transform: scale(1.1);   
  border: 1px solid black;
}


@media screen and (max-width: 600px) {
  #task-container{
      width:90%;
  }
}

@media screen and (min-width: 600px) {
  #task-container{
      width:80%;
  }
}

@media screen and (min-width: 800px) {
  #task-container{
      width:60%;
  }
}

@media screen and (min-width: 1024px) {
  #task-container{
      width:40%;
  }
}